<style>
  @import 'https://fonts.googleapis.com/css?family=Lato:700,400|Karla:400';
  body {
    background: rgb(189, 195, 199);
  }
  .chat-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }

  form {
    background: #fff;
    padding: 3px;
    /*bottom: 0;*/
    margin: auto;
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
  }

  .chat-header {
    margin: 10px auto 0px auto;
    width: 70%;
    padding: 3px;
    background: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .chat-header h3 {
    color: rgba(127, 140, 141, 1.0);
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 0px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
  }


  form input {
    border: 0;
    padding: 10px;
    width: 80%;
    margin-right: 2.0%;
    border: 1px solid grey;
    border-radius: 25px;
    padding-left: 15px;
  }

  form input:focus {
    outline-style: none;
  }

  form button {
    width: 14%;
    background: rgb(52, 152, 219);
    border: 2px solid rgb(52, 152, 219);
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
  }

  form button:hover {
    background: #fff;
    color: rgb(52, 152, 219);
  }

  form button:focus {
    outline-style: none;
  }

  #messages {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 70%;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 500px;
    background-color: rgba(236, 240, 241, 0.5);
    margin-top: 0;
    /*max-height: 200px;*/
  }

  #messages li {
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 20px;
    /*white-space: nowrap;*/
  }
  /*#messages li:nth-child(odd) {
  background-color: #eee;
}*/

  #messages .li-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(243, 156, 18);
    float: right;
  }

  #messages li:nth-child(odd) .li-avatar {
    background-color: rgb(211, 84, 0);
    float: left;
  }

  #messages li .li-message {
    display: inline-block;
    padding: 20px;
    width: calc(100% - 85px);
    min-width: 250px;
    background-color: rgba(52, 152, 219, 0.3);
    border-radius: 6px;
    margin-left: 5px;
    color: rgba(44, 62, 80, 1.0);
    position: relative;
    /* font lato */
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    /*margin-bottom: 25px;*/
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
  }

  #messages li:nth-child(odd) .li-message {
    background-color: rgba(243, 156, 18, 0.3);
    margin-left: 20px;
    color: rgba(211, 84, 0, 1.0);
  }
  /*.li-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(243, 156, 18, 0.5);
  position: relative;
  margin-left: -35px;
  position: absolute;
}*/

  #messages li:nth-child(even) .li-message:after,
  #messages li:nth-child(even) .li-message:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(52, 152, 219, 0.3);
    /* margin-left: -35px; */
    position: absolute;
    /* z-index: -1; */
    top: 16px;
    right: -15px;
    content: '';
  }


  #messages li:nth-child(odd) .li-message:after,
  #messages li:nth-child(odd) .li-message:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(243, 156, 18, 0.3);
    /*margin-left: -35px;*/
    position: absolute;
    /*z-index: -1;*/
    left: -15px;
    top: 16px;
    content: '';
  }




  @media only screen and (max-width: 548px) {
    .chat-box {
      margin-left: -77px;
      min-width: 555px;
    }
  }
</style>

<!--<div class="chat" ng-controller="chatPageController" layout="column" ng-cloak>-->


  <!--<md-content flex layout-padding>
    <div layout="column" layout-align="top center">
      <div>
        <md-button ng-click="toggleLeft()" class="md-raised md-primary">
          Show Chat
        </md-button>
      </div>
    </div>
  </md-content>-->

  <!--<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Slack Overflow Chat</h1>
      </md-toolbar>

      <md-content layout-margin>

        <md-list>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text profileText">
              <md-button ng-click="toggleLeft()" class="md-accent">
                Hide Chat
              </md-button>-->
  <!--<h1>{{nickname}}</h1>
              <h3><img class="photoSize" ng-src="{{picture}}" alt="profilePhoto" /></h3>
              <br>
              <h3>Email: {{email}}</h3>
              <h3>Email Verified: {{emailVerified}}</h3>
              <h3>Created At: {{createdAt | date}}</h3>
              <h3>Reputation: {{reputation}}</h3>-->
  <!--<h3>users online:</h3>
              <div ng-repeat="user in ctrl.users track by $index" user="user" ng-click="ctrl.clickUser(user)">{{user}}</div>

            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>


      </md-content>
    </md-sidenav>

  </section>-->


  <!--<md-content>
    <span>beta v0.0.01</span>
    <ui>
      <li ng-repeat="message in ctrl.messages track by $index">
        <strong>{{message.from}}: </strong> <span> {{message.message}} </span>
      </li>
    </ui>


  </md-content>-->

  <!--<input ng-model="ctrl.newMessage" type="text"> <button ng-click="ctrl.sendMessage()">send</button>-->


  <div class='chat-box'>
    <div class='chat-header'>
      <h3>Chat</h3>
    </div>
    <ul id='messages'></ul>
    <form ng-submit='actual_chat_ctrl.sendMessage()'>
      <input placeholder='Type your message here...' ng-model='actual_chat_ctrl.msg' type="text" id='m' autocomplete='off' />
      <button type='submit'>Send</button>
    </form>
  </div>

<!--</div>-->