<profile-page></profile-page>
<div class="QAcontainer">
  <div class="questionEntry">
    <h3 class="titlePadding">{{ctrl.questionAndAnswers.question[0].title}}</h3>
    <hr>
    <div class="textPadding">{{ctrl.questionAndAnswers.question[0].text}}</div>

    <div class="floatRight">
      <div>Status: {{ctrl.questionAndAnswers.question[0].status}}</div>
      <div>Asked By: {{ctrl.questionAndAnswers.question[0].name}}</div>
      <div><img class="smallPhotoSize" ng-src="{{ctrl.questionAndAnswers.question[0].image}}"></img></div>
      <div>Reputation: {{ctrl.questionAndAnswers.question[0].reputation}}</div>
    </div>
  </div>


  <div class="Answers">
    <h3>{{ctrl.questionAndAnswers.answer.length}} Answer(s)</h3>
    <div class="answerEntry" ng-repeat="answer in ctrl.questionAndAnswers.answer | orderBy: '-rating'">
    <hr>
    <div class="textPadding">{{answer.text}}</div>
      <div class="floatRight">
        <div>Answered By: {{answer.name}}</div>
        <div><img class="smallPhotoSize" ng-src="{{answer.image}}"></img></div>
        <div>Reputation: {{answer.reputation}}</div>
        <div>
          <div></div>
          <nav class="helpfulRating">
            <ul class="hRating">
              <li class="hRating" ng-class="o1" ng-click="o1 = 'selected'; o2 = 'normal'; o3 = 'normal'; o4 = 'normal'; o5 = 'normal'; prev = o1; ctrl.addRep(answer.userId, answer.id, 20)" 
                ng-mouseenter="prev = o1; o1 = 'highlight'" ng-mouseleave="o1 = prev">Extremely helpful</ul>
              <li class="hRating" ng-class="o2" ng-click="o1 = 'normal'; o2 = 'selected'; o3 = 'normal'; o4 = 'normal'; o5 = 'normal'; prev = o2; ctrl.addRep(answer.userId, answer.id, 15)" 
                ng-mouseenter="prev = o2; o2 = 'highlight'" ng-mouseleave="o2 = prev">Very helpful</ul>
              <li class="hRating" ng-class="o3" ng-click="o1 = 'normal'; o2 = 'normal'; o3 = 'selected'; o4 = 'normal'; o5 = 'normal'; prev = o3; ctrl.addRep(answer.userId, answer.id, 10)" 
                ng-mouseenter="prev = o3; o3 = 'highlight'" ng-mouseleave="o3 = prev">Somewhat helpful</ul>
              <li class="hRating" ng-class="o4" ng-click="o1 = 'normal'; o2 = 'normal'; o3 = 'normal'; o4 = 'selected'; o5 = 'normal'; prev = o4; ctrl.addRep(answer.userId, answer.id, 5)" 
                ng-mouseenter="prev = o4; o4 = 'highlight'" ng-mouseleave="o4 = prev">Slighltly helpful</ul>
              <li class="hRating" ng-class="o5" ng-click="o1 = 'normal'; o2 = 'normal'; o3 = 'normal'; o4 = 'normal'; o5 = 'selected'; prev = o5; ctrl.addRep(answer.userId, answer.id, 0)" 
                ng-mouseenter="prev = o5; o5 = 'highlight'" ng-mouseleave="o5 = prev">I lost braincells</ul>
            </ul>
          </nav>
        </div>
        <div>

        <!--button class="btn btn-success" 
                ng-if="ctrl.notClicked"
                ng-click="ctrl.addRep(answer.userId)"
                ui-sref="questionAnsweredEntry({ id: ctrl.questionId })">Add Rep</button-->
      </div>       
      <!--div ng-show="ctrl.repAdded">You gave {{answer.name}} reputation</div-->
    </div>

  <div ng-if="questionAnsweredEntryCtrl.userId !== questionAnsweredEntryCtrl.questionId">  
    <div class="form-group paddingForm">
      <label for="answer"><h3>Comment:</h3></label>
      <textarea class="form-control" rows="10" id="answer" ng-model="ctrl.answerBody"></textarea>
    </div>
    <button class="btn btn-primary" ui-sref="questionsAnsweredList">Back</button>
    <button class="btn btn-success"  ng-click="ctrl.postAnswer()" ui-sref="questionsAnsweredList">Submit Comment</button>
    <button class="btn btn-danger" ng-click="ctrl.closeQuestion()" ui-sref="questionsAnsweredList">Close Question</button>
  </div>  
</div>