<profile-page></profile-page>
<div class="container">
  <div class="questionEntry">
    <h3 class="titlePadding">{{ctrl.questionAndAnswers.question[0].title}}</h3>
    <hr>
    <div class="textPadding">{{ctrl.questionAndAnswers.question[0].text}}</div>

    <div class="floatRight">
      <div>Status: {{ctrl.questionAndAnswers.question[0].status}}</div>
      <div>Asked By: {{ctrl.questionAndAnswers.question[0].name}}</div>
      <div><img class="smallPhotoSize" ng-src="{{ctrl.questionAndAnswers.question[0].image}}"></img></div>
      <div>Reputation: {{ctrl.questionAndAnswers.question[0].reputation}}</div>
    </div>
  </div>


  <div class="Answers">
    <h3>{{ctrl.questionAndAnswers.answer.length}} Answer(s)</h3>
    <div class="answerEntry" ng-repeat="answer in ctrl.questionAndAnswers.answer | orderBy: 'rating'">
    <hr>
    <div class="textPadding">{{answer.text}}</div>
      <div class="floatRight">
        <div>Answered By: {{answer.name}}</div>
        <div><img class="smallPhotoSize" ng-src="{{answer.image}}"></img></div>
        <div>Reputation: {{answer.reputation}}</div>
        <div>
          <nav class="helpfulRating">
            <ul class="hRating">
              <li class="hRating" ng-class="eh" ng-click="eh = 'selected'; prev = eh; ctrl.addRep(answer.userId, answer.id, 20)" 
                ng-mouseenter="prev = eh; eh = 'highlight'" ng-mouseleave="eh = prev">Extremely helpful</ul>
              <li class="hRating" ng-class="vh" ng-click="vh = 'selected'; ctrl.addRep(answer.userId, answer.id, 15)" ng-mouseenter="vh = 'highlight'" ng-mouseleave="vh = 'normal'">Very helpful</ul>
              <li class="hRating" ng-class="sh" ng-click="sh = 'selected'; ctrl.addRep(answer.userId, answer.id, 10)" ng-mouseenter="sh = 'highlight'" ng-mouseleave="sh = 'normal'">Somewhat helpful</ul>
              <li class="hRating" ng-class="sl" ng-click="sl = 'selected'; ctrl.addRep(answer.userId, answer.id, 5)" ng-mouseenter="sl = 'highlight'" ng-mouseleave="sl = 'normal'">Slighltly helpful</ul>
              <li class="hRating" ng-class="nh" ng-click="nh = 'selected'; ctrl.addRep(answer.userId, answer.id, 0)" ng-mouseenter="nh = 'highlight'" ng-mouseleave="nh = 'normal'">I lost braincells</ul>
            </ul>
          </nav>
        </div>
        <!--button class="btn btn-success" 
                ng-if="ctrl.notClicked"
                ng-click="ctrl.addRep(answer.userId)"
                ui-sref="questionAnsweredEntry({ id: ctrl.questionId })">Add Rep</button-->
      </div>       
      <!--div ng-show="ctrl.repAdded">You gave {{answer.name}} reputation</div-->
    </div>

  <div ng-if="questionAnsweredEntryCtrl.userId !== questionAnsweredEntryCtrl.questionId">  
    <div class="form-group paddingForm">
      <label for="answer"><h3>Comment:</h3></label>
      <textarea class="form-control" rows="10" id="answer" ng-model="ctrl.answerBody"></textarea>
    </div>
    <button class="btn btn-primary" ui-sref="questionsAnsweredList">Back</button>
    <button class="btn btn-success"  ng-click="ctrl.postAnswer()" ui-sref="questionsAnsweredList">Submit Comment</button>
    <button class="btn btn-danger" ng-click="ctrl.closeQuestion()" ui-sref="questionsAnsweredList">Close Question</button>
  </div>  
</div>