<div class="bg-videochat">
  <h1 class="videoh1">My id - {{ctrl.myPeerId}}</h1>
  <video id="localVideo" autoplay></video>
  <video id="remoteVideo" autoplay></video>

  <div class="videoControls">
    <input type="text" ng-model="ctrl.otherPeerId">
    <!--<button id="connectButton"> connect</button>-->
    <!--<button id="startButton">Start</button>-->
    <button id="callButton">Call</button>
    <button id="hangupButton">Hang Up</button>
  </div>
</div>
<!--<div> Welcome to Vidchat</div>-->
<!--<div class="container bg-videochat">
  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>-->
  <!--<div>-->
  <!--<button id="startButton">Start</button>
  <button id="callButton">Call</button>-->
  <!--<md-button id="hangupButton" class="md-raised md-primary">Hang Up</md-button>
</div>-->