html {
  background-color:white;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif
}


.black-background {
  background-color: black;
}

table.table td {
  font-size: 18px;
}

.table>tbody>tr>td {
  padding:20px;
}

.table>thead>tr>th {
  font-size: 23px;
  padding-bottom: 25px;
}

.titlePadding {
  padding-bottom:15px;
  margin-top: -45px;
}

.textPadding {
  padding-bottom:20px;
  font-size:18px;

}

table.table.tableEntry td {
  padding: 20px;
}

.container {
  padding-right:100px;
  padding-left:100px;
}

.acceptAnswer {
  display:block;
  margin-top:15px;
}

.floatRight {
  /*float:right;*/
  font-size:14px;
  text-align: right;
}

.profileText {
  padding-top:30px;
  text-align: center;
}

.profileText h3{
padding-bottom:10px;
}

.photoSize {
  max-width:170px;
}

.smallPhotoSize {
  max-width:65px;
}

.questionEntry {
  padding-bottom:50px;
}

.table-responsive {
    overflow-x:inherit;
}

.Answers {
  padding-top:50px;
}

.paddingForm {
  padding-top:25px;
}

.marginTop {
  margin-top:-52px;
}

.marginPostQuestion {
  margin-top:-64px;
}

.answerEntry {
  padding-bottom:135px;
}

.bg { 
  width: 100%;
  height: 1000px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bg.jpg');
  background-size: cover;
}

.bg-authenticated { 
  width: 100%;
  height: 1000px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bg-auth.jpg');
  background-size: cover;
}

.bg-videochat { 
  width: 100%;
  height: 1000px;
  margin-top: 0px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bg-videochat.jpg');
  background-size: cover;
}

#localVideo {
  margin: 50px;
  margin-left: 240px;
}

#remoteVideo {
  margin: 50px;
  margin-left: 150px;
}

.videoControls {
  margin-left: 530px;
}

.videoh1 {
  margin-left: 530px;
  color: white;
}

.homeText {
  position:absolute;
  color:#f6f6f6;
  top:25%;
  left:25%;
}

.introDesc {
  width:60%;
}

.chat {
  width: 400px; 
  margin-left:350px; 
  padding-top:20px;
}

/* message rating styling */
ul.hRating {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.hRating {
  display: block;
  text-align: center;
  font-size: 11px;
  width: 52px;
  background-color: #bed8ec;
}

li.hRating.highlight {
  background-color: #55626c; 
  color: white;
}

li.hRating.selected {
  background-color: green;
  color: white;
}

nav.helpfulRating {
  width: 100%;
  display: block;
  padding: 5px 0 5px 0;
}

.hRating li {
  float: left;
}
.hRating {
  float: right;
}

.QAcontainer {
  padding-right:100px;
  padding-left:100px;
}

@media only screen and (max-width: 480px) {
    .QAcontainer {
      padding-right: 40px;
      padding-left: 40px;
    }
}

